<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Guestbook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body class="container">
<div class="page-header">
    <div class="pull-left">
        <h1>Guestbook</h1>
    </div>
    <div class="pull-right">
        <a href="/new-entry" class="btn btn-primary text-right">Write in the guestbook</a>
    </div>
    <div class="clearfix"></div>
</div>
